body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

header {
    background-color: #800000;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

#searchInput {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-container, .recommendation-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}

h2 {
    color: #800000;
}

.hidden {
    display: none;
}

#generateButton {
    padding: 10px 20px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 50vh;
}

.recommendation-container .fa-lightbulb {
    color: #f5b700;
}

.recommendation-container .fa-comments {
    color: #007bff;
}

.recommendation-container .fa-chart-line {
    color: #4CAF50;
}
